body {
    background: url(BACK.jpg);
    background-size: cover;
    }
  .container {
    margin: auto;
    margin-top: 4rem;
    width: 90%;
    background-color: white;
    filter: opacity(90%) ;
    border: 2px dashed black;
    border-radius: 20px;
  }

  .container h2 {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  table {
    margin: auto;
    margin-bottom: 30px;
    height: 75vh;
    width: 95%;
    border-collapse: collapse;
  }

  th {
    color: rgb(0, 0, 0);
  }

  th:hover {
    background-color: rgb(135, 135, 135);
    transition: 0.5s;
  }
